@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7F5FA;
  --foreground: #1C171A;
  --pink-500: #EB2F96;
  --pink-600: #C22181;
  --pink-400: #F472B6;
  --pink-50: #FFF0F8;
  --gray-900: #1C171A;
}

body {
  background: var(--background);
  color: var(--foreground);
}
